body {
    /*background: black url("/assets/images/body-bg.webp") fixed;*/
    background: #040404;
    font-family: 'Ubuntu Condensed', sans-serif;
}
main {
    color: rgb(61,61,61);
    font-size: 18px;
}
.btn-outline-stefra {
    color: rgb(210 66 36);
    border-color: rgba(202,85,61,0.5);
}
.btn-outline-stefra:hover {
    color: #fff;
    background-color: rgba(202,85,61,0.5);
    border-color: rgba(202,85,61,0.5);
}
.text-16 {
    font-size: 16px;
}

/* Start Navbar */
.header-navbar .navbar-dark .navbar-nav .nav-link {
    color: var(--my-a-color);
    position: relative;
}

.header-navbar .navbar-dark .navbar-nav .nav-link:hover {
    color: var(--my-color-hover);
    transition-duration: .3s;
}

.header-navbar .navbar-dark .navbar-nav .nav-link::before,
.header-navbar .navbar-dark .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--my-a-color);
    opacity: 0;
    transition: transform .3s, opacity .2s;
}

.header-navbar .navbar-dark .navbar-nav .nav-link::before {
    top: 0;
    transform: translateY(-10px);
}

.header-navbar .navbar-dark .navbar-nav .nav-link::after {
    bottom: 0;
    transform: translateY(10px);
}

.header-navbar .navbar-dark .navbar-nav .nav-link:hover::before,
.header-navbar .navbar-dark .navbar-nav .nav-link:hover::after {
    transform: translateY(0);
    opacity: 1;
}

/* End Navbar */

/* Start Footer */
footer a:hover {
    color: white;
}

.fa-instagram:hover {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-twitter:hover {
    background: linear-gradient(45deg, #66757f, #00ACEE, #36D8FF, #f5f8fa, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-facebook-f:hover {
    background: linear-gradient(120deg, #3b5998, #FFFFFF);
    height: 20px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-youtube:hover {
    background: linear-gradient(120deg, #ff0000, #282828);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-envelope:hover {
    background: linear-gradient(120deg, #dd4b39, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* End Footer */

/* Start Store Page */
section.second-header {
    background-color: rgba(102, 102, 102, 1);
}

section.second-header h3 {
    color: var(--my-a-color);
    font-size: 3rem;
}

.breadcrumb-item a:hover {
    color: var(--my-color-hover);
    transition-duration: .3s;
}

.category-store a {
    position: relative;
    transition: color .3s;
}

.category-store a:hover {
    color: var(--my-color-hover);
}

.category-store a:hover p {
    opacity: 1;
    transition-duration: .3s;
}

.category-store a:hover img {
    filter: blur(8px);
    transition-duration: .3s;
}

.category-store a p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    opacity: 0;
}

/* End Store Page */
.products-content .products-desc .product-price {
    position: absolute;
    bottom: 10%;
    right: 10%;
    color: var(--bs-danger);
}

.may-likes-items a:hover {
    color: var(--my-color-hover);
    transition-duration: .3s;
}

.cart-count-component a:hover {
    color: var(--my-color-hover);
    transition-duration: .3s;
}

.cart-items select[name=product-qty] {
    background-color: var(--my-color-hover);
    color: var(--my-a-color);
}

strong, small {
    color: var(--my-a-color);
}

.continue-shopping {
    color: var(--my-color-hover);
}

.continue-shopping:hover {
    color: var(--bs-warning);
}

.products-desc p a {
    color: var(--bs-secondary);
}
.product-label {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-85%);
    font-size: 20px;
    white-space: nowrap;
    color: var(--my-a-color);
    background: var(--my-color-hover);
    padding: 0 10px;
    margin: 0;
    border-radius: 10px;
}

/* Start Login page */

/* End Login page */

/* Start Mobile Responsive */
@media (max-width: 400px) {
    section.second-header h3 {
        font-size: 2.4rem;
    }
}
@media (max-width: 768px) {
    body {
        font-size: 15px;
    }

    hr.w-100 {
        padding: 0;
    }

    .form-control {
        font-size: .9rem;
    }

    .navbar .navbar-brand img {
        width: 160px;
        height: 50px;
    }

    footer.bg-dark {
        font-size: 15px;
    }

    footer.bg-dark img {
        max-width: 150px;
    }

    .main-content .header-navbar .nav-link {
        font-size: 20px !important;
    }

    .nav-item.text-nowrap {
        white-space: unset !important;
    }

    .nav-item.text-nowrap span {
        display: none;
    }

    .cart-count-component > div {
        width: 33%;
    }

    .product-page .col-md-8 img {
        width: 100%;
    }

    .checkout-section {
        margin-top: 20px;
    }

    .may-likes-items > div {
        width: 50%;
    }
}

@media (max-width: 900px) {
    .map-frame {
        width: 100%;
        height: 199px;
    }
}

/* End Mobile Responsive */
